[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AllMetrics"]
	path = AllMetrics
	url = https://github.com/cran/AllMetrics
[submodule "AriGaMyANNSVR"]
	path = AriGaMyANNSVR
	url = https://github.com/cran/AriGaMyANNSVR
[submodule "CEEMDANML"]
	path = CEEMDANML
	url = https://github.com/cran/CEEMDANML
[submodule "CompareMultipleModels"]
	path = CompareMultipleModels
	url = https://github.com/cran/CompareMultipleModels
[submodule "DescribeDF"]
	path = DescribeDF
	url = https://github.com/cran/DescribeDF
[submodule "MissingHandle"]
	path = MissingHandle
	url = https://github.com/cran/MissingHandle
[submodule "RankPCA"]
	path = RankPCA
	url = https://github.com/cran/RankPCA
[submodule "WaveletML"]
	path = WaveletML
	url = https://github.com/cran/WaveletML
[submodule "WaveletMLbestFL"]
	path = WaveletMLbestFL
	url = https://github.com/cran/WaveletMLbestFL
[submodule "tsLSTMx"]
	path = tsLSTMx
	url = https://github.com/cran/tsLSTMx
