[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AllMetrics"]
	path = AllMetrics
	url = https://github.com/cran/AllMetrics
	shallow = true
	registered = true
[submodule "CEEMDANML"]
	path = CEEMDANML
	url = https://github.com/cran/CEEMDANML
	shallow = true
	registered = true
[submodule "DescribeDF"]
	path = DescribeDF
	url = https://github.com/cran/DescribeDF
	shallow = true
	registered = true
[submodule "WaveletML"]
	path = WaveletML
	url = https://github.com/cran/WaveletML
	shallow = true
	registered = true
